<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--<welcome-file-list>-->
    <!--<welcome-file>Welcome.do</welcome-file>-->
  <!--</welcome-file-list>-->
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/fail.jsp</location>
  </error-page>

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
    <param-value>UTF-8</param-value>
  </context-param>

  <context-param>
    <param-name>contextClass</param-name>
    <param-value>
      org.springframework.web.context.support.AnnotationConfigWebApplicationContext
    </param-value>
  </context-param>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>com.vk.kombarov_nikolay.config</param-value>
  </context-param>

  <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>WEB-INF/spring/*</param-value>-->
  <!--</context-param>-->



  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>com.vk.kombarov_nikolay.config.WebConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>-->
  <!--</listener>-->

  <!--<listener>-->
    <!--<listener-class>com.vk.kombarov_nikolay.web.listeners.Initializer</listener-class>-->
  <!--</listener>-->

  <!--<filter>-->
    <!--<filter-name>DBInitializationFilter</filter-name>-->
    <!--<filter-class>com.vk.kombarov_nikolay.web.filters.DatabaseInitialization</filter-class>-->
  <!--</filter>-->
  <!--<filter>-->
    <!--<filter-name>UserObjectFilter</filter-name>-->
    <!--<filter-class>com.vk.kombarov_nikolay.web.filters.UserObjects</filter-class>-->
  <!--</filter>-->
  <!--<filter>-->
    <!--<filter-name>HomepageWithEmptyUsername</filter-name>-->
    <!--<filter-class>com.vk.kombarov_nikolay.web.filters.HomepageWithEmptyUsername</filter-class>-->
  <!--</filter>-->

  <!--<filter-mapping>-->
    <!--<filter-name>DBInitializationFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <!--<filter-mapping>-->
    <!--<filter-name>UserObjectFilter</filter-name>-->
    <!--<url-pattern>/homepage/*</url-pattern>-->
  <!--</filter-mapping>-->
  <!--<filter-mapping>-->
    <!--<filter-name>HomepageWithEmptyUsername</filter-name>-->
    <!--<servlet-name>Homepage</servlet-name>-->
  <!--</filter-mapping>-->
  <!---->
  <!--<context-param>-->
    <!--<param-name>dbpath</param-name>-->
    <!--<param-value>/Users/nikolaykombarov/Desktop/db.ser</param-value>-->
  <!--</context-param>-->



  <!--<security-constraint>-->
    <!--<web-resource-collection>-->
      <!--<web-resource-name>Modifying personal data</web-resource-name>-->
      <!--<url-pattern>/homepage/*</url-pattern>-->
      <!--<http-method>GET</http-method>-->
      <!--<http-method>POST</http-method>-->
    <!--</web-resource-collection>-->
    <!--<auth-constraint>-->
      <!--<role-name>member</role-name>-->
    <!--</auth-constraint>-->
  <!--</security-constraint>-->

  <!--<login-config>-->
    <!--<auth-method>FORM</auth-method>-->
    <!--<form-login-config>-->
      <!--<form-login-page>/jsp/Login/loginStub.jsp</form-login-page>-->
      <!--<form-error-page>/jsp/Login/loginFail.jsp</form-error-page>-->
    <!--</form-login-config>-->
  <!--</login-config>-->



  <!--<security-role>-->
    <!--<role-name>member</role-name>-->
  <!--</security-role>-->
  <!--<security-role>-->
    <!--<role-name>guest</role-name>-->
  <!--</security-role>-->

  <!--<servlet>-->
    <!--<servlet-name>LoginServlet</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.login.Login</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>RegisterServlet</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.login.Register</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>WelcomeServlet</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.Index</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>Homepage</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.homepage.Homepage</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>Logout</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.login.Logout</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>ModifyServlet</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.login.ModifyData</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>DialogServlet</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.dialog.DialogPage</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>ChosenDialog</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.dialog.ChosenDialog</servlet-class>-->
  <!--</servlet>-->
  <!---->
  <!--<servlet>-->
    <!--<servlet-name>SendMessage</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.dialog.SendMessage</servlet-class>-->
  <!--</servlet>-->

  <!--<servlet>-->
    <!--<servlet-name>CreateDialog</servlet-name>-->
    <!--<servlet-class>com.vk.kombarov_nikolay.web.dialog.CreateDialog</servlet-class>-->
  <!--</servlet>-->


  <!--<servlet-mapping>-->
    <!--<servlet-name>LoginServlet</servlet-name>-->
    <!--<url-pattern>/login/*</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>RegisterServlet</servlet-name>-->
    <!--<url-pattern>/login/register</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>WelcomeServlet</servlet-name>-->
    <!--<url-pattern>/Welcome.do</url-pattern>-->
  <!--</servlet-mapping>-->
  <!---->
  <!--<servlet-mapping>-->
    <!--<servlet-name>Homepage</servlet-name>-->
    <!--<url-pattern>/homepage/</url-pattern>-->
  <!--</servlet-mapping>-->
  <!---->
  <!--<servlet-mapping>-->
    <!--<servlet-name>Logout</servlet-name>-->
    <!--<url-pattern>/Logout.do</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>ModifyServlet</servlet-name>-->
    <!--<url-pattern>/homepage/modify</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>DialogServlet</servlet-name>-->
    <!--<url-pattern>/homepage/dialogs/*</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>ChosenDialog</servlet-name>-->
    <!--<url-pattern>/homepage/dialogs/chosenDialog</url-pattern>-->
  <!--</servlet-mapping>-->
  <!---->
  <!--<servlet-mapping>-->
    <!--<servlet-name>SendMessage</servlet-name>-->
    <!--<url-pattern>/homepage/dialogs/sendMessage.do</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>CreateDialog</servlet-name>-->
    <!--<url-pattern>/homepage/dialogs/createDialog</url-pattern>-->
  <!--</servlet-mapping>-->

</web-app>
